<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/admin-nav::head}"></head>
<body>
<header th:replace="~{fragments/admin-nav::header}"></header>
<main>
    <div style="margin: 100px auto">
        <form class="form-product" th:action="@{/admin/add-product}" th:method="POST" th:object="${addProductBindingModel}">
            <h1 class="text-center">Add New Product</h1>

          <div class="form-group mt-5">
            <label for="name">Name of product</label>
            <input type="text" class="form-control" id="name" name="name" th:errorclass="'is-invalid alert-danger'" placeholder="Name of product...">
              <p th:errors="*{name}" th:class="'invalid-feedback'"></p>
          </div>

          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" class="form-control" id="imageUrl" th:errorclass="'is-invalid alert-danger'" name="imageUrl">
              <p th:errors="*{imageUrl}" th:class="'invalid-feedback'"></p>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" th:errorclass="'is-invalid alert-danger'" placeholder="Description..."></textarea>
              <p th:errors="*{description}" th:class="'invalid-feedback'"></p>
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price" th:errorclass="'is-invalid alert-danger'" placeholder="Price..."></input>
              <p th:errors="*{price}" th:class="'invalid-feedback'"></p>
          </div>

          <div class="form-group">
            <label for="promotionalPrice">Promotional price</label>
            <input type="text" class="form-control" id="promotionalPrice" name="promotionalPrice" th:errorclass="'is-invalid alert-danger'" placeholder="Promotional price..."></input>
              <p th:errors="*{promotionalPrice}" th:class="'invalid-feedback'"></p>
          </div>

          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity" th:errorclass="'is-invalid alert-danger'" placeholder="Quantity..."></input>
              <p th:errors="*{quantity}" th:class="'invalid-feedback'"></p>
          </div>

          <div class="form-group">
              <label for="category">Category</label>
              <select class="custom-select" id="category" name="categoryName" th:errorclass="'is-invalid alert-danger'" aria-label="Default select example">
                <option selected disabled>Select category</option>
                <option th:each="category : ${T(bg.softuni.homefurniture.model.enums.CategoryName).values()}"
                        th:text="${category}"
                        th:value="${category}"></option>
              </select>
              <p th:errors="*{categoryName}" th:class="'invalid-feedback'"></p>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>