<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/admin-nav::head}"></head>
<body>
<header th:replace="~{fragments/admin-nav::header}"></header>
<main>
    <div class="section-products-list mt-5">
        <div class="shell">
            <div class="mb-5">
                <h1>Manage Products</h1>

                <a th:href="@{/admin/add-product}" class="btn btn-primary">Add New Product</a>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Active?</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:if="${products.size() > 0}" th:each="product: ${products}" class="align-content-center">
                  <td class="align-middle" th:text="${product.id}"></td>
                  <th scope="row" class="section-cart__image">
                      <a th:href="@{/product/{id}(id = ${product.id})}">
                          <img class="w-100 shadow" src="/images/product4.jpg" />
                      </a>
                  </th>
                  <td class="align-middle" th:text="${product.name}"></td>
                  <td class="align-middle">
                      <div class="mb-2 d-flex">
                          <div th:unless="${product.promotionalPrice}"
                               th:text="'$' + ${#numbers.formatDecimal(product.price, 1, 2)}"></div>

                          <div class="text-danger" th:if="${product.promotionalPrice}"
                               th:text="'$' + ${#numbers.formatDecimal(product.promotionalPrice, 1, 2)}"></div>

                          <div class="old-price" th:if="${product.promotionalPrice}"
                               th:text="'$' + ${#numbers.formatDecimal(product.price, 1, 2)}"></div>
                      </div>
                  </td>
                  <td class="align-middle" th:text="${product.quantity}"></td>
                  <td class="align-middle">Yes</td>
                  <td class="align-middle">
                    <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                  </td>
                </tr>
                <tr th:unless="${products.size() > 0}">
                    <td class="align-middle text-center" colspan="7">No products yet.</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>