<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
<main>
    <section class="section-all-products mt-5">
        <div class="shell">
            <div class="section__title mb-2 d-lg-flex justify-content-between">
                <h3>All Products</h3>

                <div class="dropdown">
                  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Top products
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Top products</a>
                    <a class="dropdown-item" href="#">Latest</a>
                    <a class="dropdown-item" href="#">Lowest price</a>
                    <a class="dropdown-item" href="#">Highest price</a>
                  </div>
                </div>
            </div>

            <div class="section__cards">
                <div class="grid grid-no-gutter">
                    <div th:each="product : ${products}" class="grid__col grid__col--1of4">
                        <div class="card">
                            <div class="card__image">
                                <a th:href="@{/product/{id}(id = ${product.id})}">
                                    <img th:src="${product.imageUrl}" alt="">
                                </a>
                            </div>

                            <div class="card__body">
                                <a th:href="@{/product/{id}(id = ${product.id})}">
                                    <h3 class="card__title" th:text="${product.name}"></h3>
                                </a>

                                <div class="card__price">
                                    <div class="card__current-price" th:unless="${product.promotionalPrice}"
                                         th:text="'$' + ${#numbers.formatDecimal(product.price, 1, 2)}"></div>

                                    <div class="card__current-price text-danger" th:if="${product.promotionalPrice}"
                                         th:text="'$' + ${#numbers.formatDecimal(product.promotionalPrice, 1, 2)}"></div>

                                    <div class="old-price" th:if="${product.promotionalPrice}"
                                         th:text="'$' + ${#numbers.formatDecimal(product.price, 1, 2)}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>