<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
<main>
    <section class="section-cart mt-5">
        <div class="shell">
            <div class="mb-5">
                <h1>Your Cart</h1>
            </div>

            <table class="table">
              <tbody>
                <tr class="align-content-center">
                  <th scope="row" class="section-cart__image">
                      <a href="#">
                          <img class="w-100 shadow" src="/images/product4.jpg" />
                      </a>
                  </th>
                  <td class="align-middle">Product 1</td>
                  <td class="align-middle">
                      <div class="mb-2 d-flex">
                          <div class="text-danger">$39.99</div>

                          <div class="old-price">$59.99</div>
                      </div>
                  </td>
                  <td class="align-middle">x2</td>
                  <td class="align-middle">$400.00</td>
                  <td class="align-middle">
                    <button class="btn btn-outline-danger"><i class="fa-solid fa-x"></i></button>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="section-cart__image">
                      <a href="#">
                          <img class="w-100 shadow" src="/images/product4.jpg" />
                      </a>
                  </th>
                  <td class="align-middle">Product 2</td>
                  <td class="align-middle">
                      <div class="mb-2 d-flex">
                          <div class="text-danger">$39.99</div>

                          <div class="old-price">$59.99</div>
                      </div>
                  </td>
                  <td class="align-middle">x1</td>
                  <td class="align-middle">$400.00</td>
                  <td class="align-middle">
                    <button class="btn btn-outline-danger"><i class="fa-solid fa-x"></i></button>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="section-cart__image">
                      <a href="#">
                          <img class="w-100 shadow" src="/images/product2.jpg" />
                      </a>
                  </th>
                  <td class="align-middle">Product 2</td>
                  <td class="align-middle">
                      <div class="mb-2 d-flex">
                          <div class="text-danger">$39.99</div>

                          <div class="old-price">$59.99</div>
                      </div>
                  </td>
                  <td class="align-middle">x3</td>
                  <td class="align-middle">$400.00</td>
                  <td class="align-middle">
                    <button class="btn btn-outline-danger"><i class="fa-solid fa-x"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </section>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>