<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
<main>
    <section class="section-checkout mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill" th:text="${products.size()}"></span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li th:each="product : ${products}" class="list-group-item d-flex justify-content-between lh-condensed">
                            <a th:href="@{/product/{id}(id = ${product.id})}">
                              <img class="shadow" th:src="${product.imageUrl}" />
                            </a>

                            <div>
                                <h6 class="my-0" th:text="${product.name}"></h6>
                            </div>
                            <span class="text-muted" th:if="${product.promotionalPrice == null}"
                                  th:text="'$' + ${#numbers.formatDecimal(product.price, 1, 2)}"></span>

                            <span class="text-muted" th:if="${product.promotionalPrice != null}"
                                  th:text="'$' + ${#numbers.formatDecimal(product.promotionalPrice, 1, 2)}"></span>
                        </li>
<!--                        <li class="list-group-item d-flex justify-content-between bg-light">-->
<!--                            <div class="text-success">-->
<!--                                <h6 class="my-0">Promo code</h6>-->
<!--                                <small>EXAMPLECODE</small>-->
<!--                            </div>-->
<!--                            <span class="text-success">-$5</span>-->
<!--                        </li>-->
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total</span>
                            <strong th:text="'$' + ${#numbers.formatDecimal(cart.totalPrice, 1, 2)}"></strong>
                        </li>
                    </ul>
<!--                    <form class="card p-2">-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" class="form-control" placeholder="Promo code">-->
<!--                            <div class="input-group-append">-->
<!--                                <button type="submit" class="btn btn-secondary">Redeem</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Billing address</h4>
                    <form th:action="@{/checkout}" th:method="POST" th:object="${createOrderBindingModel}" class="needs-validation" novalidate="">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name</label>
                                <input th:errorclass="'is-invalid alert-danger'" type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required="">
                                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:class="'invalid-feedback'"></p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name</label>
                                <input th:errorclass="'is-invalid alert-danger'" type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required="">
                                <p th:errors="*{lastName}" th:class="'invalid-feedback'"></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber">Phone Number</label>
                            <input th:errorclass="'is-invalid alert-danger'" type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="" required="">
                            <p th:errors="*{phoneNumber}" th:class="'invalid-feedback'"></p>
                        </div>
                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input th:errorclass="'is-invalid alert-danger'" type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" required="">
                            <p th:errors="*{address}" th:class="'invalid-feedback'"></p>
                        </div>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="country">Country</label>
                                <input th:errorclass="'is-invalid alert-danger'" type="text" class="form-control" id="country" name="country" placeholder="" required="">
                                <p th:errors="*{country}" th:class="'invalid-feedback'"></p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="city">City</label>
                                <input th:errorclass="'is-invalid alert-danger'" type="text" class="form-control" id="city" name="city" placeholder="" required="">
                                <p th:errors="*{city}" th:class="'invalid-feedback'"></p>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="postalCode">Postal Code</label>
                                <input th:errorclass="'is-invalid alert-danger'" type="text" class="form-control" id="postalCode" name="postalCode" placeholder="" required="">
                                <p th:errors="*{postalCode}" th:class="'invalid-feedback'"></p>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <h4 class="mb-3">Payment</h4>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="cashOnDelivery" name="paymentType" value="cash" type="radio" class="custom-control-input" checked="" required="">
                                <label class="custom-control-label" for="cashOnDelivery">Cash on Delivery</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentType" value="debit" type="radio" class="custom-control-input" required="">
                                <label class="custom-control-label" for="debit">Debit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentType" value="paypal" type="radio" class="custom-control-input" required="">
                                <label class="custom-control-label" for="paypal">PayPal</label>
                            </div>
                        </div>

                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Complete order</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>