<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
<main>
    <section class="section-orders-history mt-5">
        <div class="shell">
            <div class="mb-5">
                <h1>Your Orders</h1>
            </div>

            <table class="table table-light">
              <thead>
                <tr>
                  <th scope="col">Order Number</th>
                  <th scope="col">Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="order : ${orders}">
                  <th class="align-middle" scope="row" th:text="${order.id}"></th>
                  <td class="align-middle" th:text="${#temporals.format(order.createdOn, 'dd/MM/yyyy')}"></td>
                  <td class="align-middle" th:text="${order.orderStatus}"></td>
                  <td class="align-middle" th:text="'$' + ${#numbers.formatDecimal(order.totalPrice, 1, 2)}"></td>
                  <td class="align-middle">
                    <a th:href="@{/order-details/{orderId}(orderId = ${order.id})}" class="btn btn-outline-primary">Details</a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </section>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>